<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sensor.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sensor.value %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @sensor.is_active %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
